{% extends '@shared/base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <h1>Posts</h1>

    {% for post in posts %}
        <ul>
            <li>
                id: <a href="{{ path('post.show', {id: post.id}) }}">{{ post.id }}</a>
            </li>
            <li>
                content: {{ post.content }}
            </li>
        </ul>
    {% endfor %}

{% endblock %}