{% extends '@shared/base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <h1>Homepage</h1>

    <ul>
        <li><a href="{{ url('post.list_posts') }}">List Posts</a></li>
        <li><a href="{{ url('post.create_form') }}">Create Post</a></li>
    </ul>

{% endblock %}